@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  padding: 58px 10%;
  gap: 40px;
  width: 100%;
}

/* TEXT SECTION */
.text h3 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 26px;
  margin-top: 10px;
  letter-spacing: 2px;
}

/* FEEDBACK BUTTON */
.specialLink {
  display: inline-block;
  margin-top: 20px;
  color: var(--color-text);
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 14px;
  font-size: 16px;
  background: linear-gradient(
    0deg,
    rgba(34, 111, 255, 0.2) 0%,
    rgb(39, 92, 189) 100%
  );
  transition: background 0.3s ease;
}

.specialLink:hover {
  background: rgb(31, 126, 235);
}

/* LINKS */
.links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 24px;
  padding: 0;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link img {
  width: 28px;
  height: 28px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1.2px;
}

.link a:hover {
  text-decoration: underline;
}

/* MOBILE */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 6%;
  }

  .links {
    align-items: center;
  }

  .link {
    justify-content: center;
  }
}
